#!/bin/bash
# vim: ft=sh
# General system aliases
alias sudo="sudo " # this enables sudo to use these aliases
alias chown="chown -h"
alias which="which -a"
alias ls='ls -hX --group-directories-first --time-style=+"%d/%m/%Y %H:%M:%S" --color=auto -F --quoting-style=literal'
alias ll='ls -l'
alias la='ls -Al'
tailf() {
	tail -F "$@"
}
alias cal='cal -y'
alias cp="cp -i -r"
alias mv="mv -i"
alias rm="rm -i --one-file-system"
alias df='df -h'
alias ps='ps --ppid 2 -N --forest -o user:15,ppid,pid,cmd'
alias grep="grep --color=auto"
alias egrep="egrep --color=auto"
alias fgrep="fgrep --color=auto"
alias less="less -R"
alias free='free -mw'
alias dfc='dfc -d -t -tmpfs,dev -m'
alias telnet="telnet --escape='^E'"
alias telnet-ssl="telnet-ssl -z ssl"
alias du='du -shc'
alias rsync='rsync -vPhr'
alias scp='rsync'
alias sortdu='du -h | sort -h'
alias nmcli='nmcli -a'
alias diff='diff -u'
which colordiff &>/dev/null && alias diff='colordiff -u'
alias vmstat="vmstat -S M"
alias w="w -i"
alias last="last -w"
alias pinky="pinky -w"
alias tee="tee -a"
alias nmap="nmap -v"
alias vim="nvim"
alias vimdiff="nvim -d"
alias clean_vim="git clean -fdx \$HOME/.vim/{undo,swap,backup}; rm -rf \$HOME/.viminfo"
alias xz="xz -T 0"
alias zstd="zstdmt"
alias lsblk="lsblk -o name,label,size,fstype,fssize,fsavail,mountpoint,uuid"
alias killall="killall -v -I"
alias pgrep="pgrep -l"
alias xsel="xsel -b"
alias ..="cd -- .."
alias ...="cd -- ../.."
alias ....="cd -- ../../.."
alias .....="cd -- ../../../.."
alias ......="cd -- ../../../../.."
alias .......="cd -- ../../../../../.."
alias ........="cd -- ../../../../../../.."
alias .........="cd -- ../../../../../../../.."
cd() {
	builtin cd "$@" && ll
}
tobg() {
	("$@" &>/dev/null &)
}
alias open="tobg xdg-open"
alias o="(thunar &>/dev/null &)"
u() {
	tobg alacritty --working-directory .
}
alias pacro="yay -Yc"
alias pacexplicit="comm -23 <(pacman -Qqe | sort) <(pacman -Qqg base base-devel | sort)"
alias hddpoff="udisksctl power-off -b"
alias g="ping 1.1"
alias i="curl ipv4.icanhazip.com"
alias i6="curl ipv6.icanhazip.com"
alias ethspeed="while :; do sleep 0.2; cat /sys/class/net/enp0s25/speed; done"
alias edit_dns="sudo chattr -i /etc/resolv.conf && sudo vim /etc/resolv.conf && sudo chattr +i /etc/resolv.conf"
alias sstp="sudo ss -lnr -f inet -f inet6"
l() {
	# 1st argument: filename to search
	# 2nd argument: match given basename
	basename=""
	[ "$#" -gt 1 ] && basename="$2"
	locate -i -r "$basename.*$1.*"
}
alias tm="tmux -CC attach -d || tmux -CC new"
alias ta="tmux attach -d || tmux new"
alias r='ranger --choosedir=/tmp/.rangerdir; LASTDIR=`cat /tmp/.rangerdir`; cd "$LASTDIR"'
alias m="vim notes.md"
alias t="vim todo.md"
alias ytmp3="youtube-dl -x --audio-format mp3 --audio-quality 320 --prefer-ffmpeg"
alias youtube-dl="youtube-dl -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/mp4' --prefer-ffmpeg"
alias borg="borg -p"
alias zlist='sudo zfs list -t all -o name,type,mountpoint,creation,readonly,encryption,dedup'
alias picom='picom -b --experimental-backends'
alias kpicom='killall picom'
alias ssmem='sudo smem -t -a -k -s swap'
alias smem='sudo smem -t -a -k -s rss'
alias timer='echo timer started, use ctrl-c to stop; time cat'
alias dmesg='sudo dmesg -T'
show-iptables() {
	printf 'SECURITY ==============================================================\n'
	sudo iptables -nvL -t security
	printf '\nRAW ===================================================================\n'
	sudo iptables -nvL -t raw
	printf '\nMANGLE ================================================================\n'
	sudo iptables -nvL -t mangle
	printf '\nNAT ===================================================================\n'
	sudo iptables -nvL -t nat
	printf '\nFILTER ================================================================\n'
	sudo iptables -nvL -t filter
}

# Dev
alias make='make -j$(nproc)'
alias memcheck="valgrind --tool=memcheck --leak-check=full --show-leak-kinds=all --track-origins=yes"
alias py="python"
alias rlwrap="rlwrap -aplaceholder" # https://github.com/technomancy/grenchman/issues/36
#alias node="NODE_NO_READLINE=1 rlwrap node"
alias mvn="mvn -ntp -e"
alias mit-scheme="rlwrap mit-scheme"
alias sbcl="rlwrap sbcl"
alias yaegi="rlwrap yaegi"
alias gop='cd $GOPATH'
#alias gradle="gradle --parallel -t --watch-fs"
alias gradle="gradle --parallel"
alias be='bundle exec'
alias gem_clean='gem uninstall -aIx'
alias rt="rg TODO"
alias fd="fd -H -E .git"
alias find="fd -H -I ."
alias rg="rg -SL --hidden -g '!\.git' -g '!package-lock.json' -g '!yarn.lock'"
# Docker
alias dc="docker ps -a --format='table {{.ID}}\t{{.Names}}\t{{.Image}}\t{{.RunningFor}}\t{{.Status}}\t{{.Ports}}'"
alias dcc="docker rm -f \$(docker ps -aq) &>/dev/null"
drm() {
	docker rm -f "$1" &>/dev/null
}
alias di="docker images"
alias dv='docker ps -a --format "table {{.Names}}\t{{.Mounts}}" --no-trunc'
alias dvv='docker volume prune -f'
alias dr="docker restart -t 0"
alias dl="docker logs -f"
docker_show_layers() {
	docker history "$1" --format '{{.CreatedBy}}' --no-trunc
}
alias dspace="docker system df -v"
alias docker-tui="lazydocker"
alias dah='docker inspect --format="{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}} {{.Name}}" $(docker ps -q) | sed "s# /# #g" | sudo tee -a /etc/hosts'
alias drh='docker inspect --format="{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}} {{.Name}}" $(docker ps -q) | sed "s# /# #g" | sudo xargs -I{} sed -i "/{}/d" /etc/hosts'
alias dtest='docker run -p 5678:5678 hashicorp/http-echo -text="hello world"'
# Or use `x11docker` command
alias x11-docker='docker run -u lyonn -v /tmp/.X11-unix:/tmp/.X11-unix -e DISPLAY=$DISPLAY -v $HOME/.Xauthority:/home/lyonn/.Xauthority -it cenas:1'
# Kubernetes
type kubectl &>/dev/null \
	&& alias k=kubectl \
	&& source <(kubectl completion zsh | sed 's/kubectl/k/g')
kube-getall() {
	kubectl api-resources --verbs=list -o name | grep -v events \
		| parallel kubectl get -A --ignore-not-found --show-kind
}
kube-getall-ns() {
  echo "Namespace $1 ---------------------------------------------------------"
  for i in $(kubectl api-resources --verbs=list --namespaced -o name | grep -v "events"); do
    echo "Resource: $i"
    kubectl -n "$1" get --ignore-not-found "$i"
  done
}
# Git
alias gs="git status"
alias gb="git branch -vvaa"
alias gd="git diff --no-color"
alias gdc="git diff --no-color --cached"
alias gdm="gd master..HEAD"
alias gf="git fetch --all"
alias gp="git pull"
alias gr="git remote -vvv"
alias grc="git rebase --continue"
alias grm="git rebase -i master"
alias ga="git add"
alias gitk="gitk --all &"
alias gg="git gui"
alias gl="PAGER= git lg"
alias glm="gl master..HEAD"
alias gss="git submodule update --init --recursive"
alias gsu="git submodule foreach 'git checkout master && git pull'"
alias git-clean-tags="git tag -l | xargs git tag -d ; git fetch --tags"
rm_worktree() {
	for b in "$@"; do rm -rf ../"$b"; done
	git worktree prune
	git branch -D "$@"
}

# Connections
alias p="ssh pinecone"
sshfs-home() {
	sshfs -o reconnect -o ServerAliveInterval=10 "$1": ~/p; cd ~/p || exit
}
alias h="sshfs-home pinecone"
alias uh="fusermount -u ~/p"
alias c="[[ -d ~/p ]] && h; cd ~/p/Documents/computer || cd ~/Documents/computer"
# Power-related
alias lock="physlock"
alias slock="systemctl suspend && physlock -d"
alias soff="xset dpms force off"
alias susp="systemctl suspend"
alias hib="systemctl hibernate"
alias hyb="systemctl hybrid-sleep"
alias inhib_susp="setsid systemd-inhibit --what=sleep --who=\$USER --why='Suspend deliberately inhibited by user.' sleep 99999d"
alias allow_susp="pkill systemd-inhibit"
# Music
addradio() {
	mpc add "http://centova.radios.pt:9496/stream?1554293061823"
	mpc add "https://lainon.life/radio/cafe.ogg"
	mpc add "https://lainon.life/radio/cyberia.ogg"
	mpc add "https://lainon.life/radio/everything.ogg"
	mpc add "https://lainon.life/radio/swing.ogg"
	mpc add "http://cyberadio.pw:8000/stream"
	mpc add "http://streaming.radionomy.com/DRIVE"
	mpc add "http://radio.2f30.org:8000/live.mp3"
	mpc add "http://ice2.somafm.com/defcon-64-aac"
	mpc add "http://nectarine.ers35.net:8000/necta192.mp3"
	mpc add "http://stream.cdm-smoothsax.com:8024/stream-mp3-Smooth"
	mpc add "http://stream.cdm-chillout.com:8012/stream-mp3-Deep"
	mpc add "http://stream.trap.fm:6002"
	mpc add "http://trace.dnbradio.com:8000/dnbradio_main.mp3"
	mpc add "http://trace.dnbradio.com:8000/dnbradio_darkstep.mp3"
	mpc add "http://stream.drumandbass.fm:9002"
}

# etc
alias mupdf="mupdf -r 144"
alias feh="feh --keep-zoom-vp --auto-zoom --scale-down --info 'echo %f && echo [%u/%l] %wx%h %z'"
alias inxi="inxi -F"
alias units="units --verbose"
alias nload="nload -u M"
alias pandoc="pandoc -s"
alias openssl-smtp-starttls="openssl s_client -quiet -starttls smtp -connect" # https://serverfault.com/a/336657
alias count_threads='count() { printf %s\\n "$#" }; count /proc/[0-9]*/task/[0-9]*'
alias xev="xev | grep -A2 --line-buffered '^KeyRelease' | sed -n '/keycode /s/^.*keycode \([0-9]*\).* (.*, \(.*\)).*$/\1 \2/p'"
magic_kb() {
	local action='connect'
	if [[ "$1" == 'off' ]]; then action='disconnect'; fi
	echo -e "$action 64:0B:D7:1E:9B:DD\n" | bluetoothctl
}
ds5() {
	local action='connect'
	if [[ "$1" == 'off' ]]; then action='disconnect'; fi
	echo -e "$action 4C:B9:9B:74:9D:6F\n" | bluetoothctl
}

# ex - archive extractor
# usage: ex <file>
ex() {
	if [[ ! -f "$1" ]]; then
		echo "No such file or directoy: '$1'"
		return 2
	fi
	#mkdir $1
	case $1 in
		*.tar)		tar -xvf "$1" ;;
		*.tar.xz)	tar -xvJf "$1" ;;
		*.txz)		tar -xvJf "$1" ;;
		*.tar.pixz)	tar -Ipixz -xvf "$1" ;;
		*.tpxz)		tar -Ipixz -xvf "$1" ;;
		*.tar.bz2)	tar -xvjf "$1" ;;
		*.tbz2)		tar -xvjf "$1" ;;
		*.tar.gz)	tar -xvzf "$1" ;;
		*.tgz)		tar -xvzf "$1" ;;
		*.tar.zst)	tar -Izstdmt -xvf "$1" ;;
		*.tzst)		tar -Izstdmt -xvf "$1" ;;
		*.rar)		unrar -x "$1" ;;
		*.zip)		unzip "$1" ;;
		*.7z)		7z x "$1" ;;
		*.xz)		xz -d "$1" ;;
		*.pixz)		pixz -d "$1" ;;
		*.gz)		gunzip "$1" ;;
		*.bz2)		bunzip2 "$1" ;;
		*.Z)		uncompress -xf "$1" ;;
		*)			echo "'$1' cannot be extracted via ex" ;;
	esac
}

# Fun stuff
alias randomfact='wget randomfunfacts.com -qO- 2>/dev/null | grep \<strong\> | sed "s;^.*<i>\(.*\)</i>.*$;\1;"'
alias cmatrix="cmatrix -u 7"
alias matrix='echo -e "\e[32m"; while :; do for i in {1..16}; do r="$(($RANDOM % 2))"; if [[ $(($RANDOM % 5)) == 1 ]]; then if [[ $(($RANDOM % 4)) == 1 ]]; then v+="\e[1m $r	"; else v+="\e[2m $r   "; fi; else v+="		"; fi; done; echo -e "$v"; v=""; done'
alias matrix2='echo -e "\e[31m"; while $t; do for i in `seq 1 30`;do r="$[($RANDOM % 2)]";h="$[($RANDOM % 4)]";if [ $h -eq 1 ]; then v="\e[1m $r";else v="\e[2m $r";fi;v2="$v2 $v";done;echo -e $v2;v2="";done;'
alias matrix3='COL=$(( $(tput cols) / 2 )); clear; tput setaf 2; while :; do tput cup $((RANDOM%COL)) $((RANDOM%COL)); printf "%$((RANDOM%COL))s" $((RANDOM%2)); done'
alias matrix4='echo -ne "\e[32m" ; while true ; do echo -ne "\e[$(($RANDOM % 2 + 1))m" ; tr -c "[:print:]" " " < /dev/urandom | dd count=1 bs=50 2> /dev/null ; done'
alias matrix5='tr -c "[:digit:]" " " < /dev/urandom | dd cbs=$COLUMNS conv=lcase,unblock &>/dev/null | GREP_COLOR="1;32" grep --color "[^ ]"'
alias colorrainbow='seq 0 255 | while read i; do printf "${i-1}: \x1b[48;5;${i}m\n"; sleep .01; done'
alias screenfetch="echo; screenfetch -c 41,12"
minor() {
	hexdump /dev/urandom -v -e '/1 "%u\n"' | awk '{ split("0,2,3,5,7,8,10,12",a,","); for (i = 0; i < 1; i+= 0.00001) printf("%08X\n", 100*sin(1382*exp((a[$1 % 8]/12)*log(2))*i)) }' | xxd -r -p | aplay -c 2 -f S32_LE -r 16000
}
major() {
	hexdump /dev/urandom -v -e '/1 "%u\n"' | awk '{ split("0,2,4,5,7,9,11,12",a,","); for (i = 0; i < 1; i+= 0.00001) printf("%08X\n", 100*sin(1382*exp((a[$1 % 8]/12)*log(2))*i)) }' | xxd -r -p | aplay -c 2 -f S32_LE -r 16000
}

