#!/bin/bash
# vim: ft=sh
# General system aliases
alias vim="nvim"
alias vimdiff="nvim -d"
alias sudo="sudo "
alias watch="watch -x "
alias chown="chown -h"
alias which="which -a"
alias ls='ls -hX --group-directories-first --time-style=+"%d/%m/%Y %H:%M:%S" --color=auto -F --quoting-style=literal'
alias ll='ls -l'
alias llt='ll -tr'
alias lls='ll -Sr'
alias la='ls -Al'
alias tailf='tail -F'
alias cal='cal -y'
alias cp="cp -i -r"
alias mv="mv -i"
alias rm="rm -i --one-file-system"
alias df='df -h'
alias ps='ps --ppid 2 -N --forest -o user:15,pid,s,time,cmd'
alias psw='ps -ww'
alias grep="grep --color=auto"
alias less="less -R"
alias free='free -mw'
alias dfc='dfc -d -t -tmpfs,dev -m'
alias telnet="telnet --escape='^E'"
alias telnet-ssl="telnet-ssl -z ssl"
alias du='du -shc'
alias rsync='rsync -vPaAXUCHxs --numeric-ids'
alias ncdu='ncdu --color off'
alias sortdu='du -h | sort -h'
alias nmcli='nmcli -a'
alias diff='diff -u'
which colordiff &>/dev/null && alias diff='colordiff -u'
alias fd="fd -H -E .git"
alias find="fd -H -I ."
alias rg="rg -SL --hidden -g '!\.git' -g '!package-lock.json' -g '!yarn.lock'"
alias rrg="rg --no-ignore"
alias vmstat="vmstat -S M"
alias tee="tee -a"
alias ts="ts %.T"
alias nmap="nmap -v"
alias lsblk="lsblk -o name,label,size,fstype,fssize,fsavail,mountpoint,uuid"
alias killall="killall -v -I"
alias pgrep="pgrep -f"
alias strace="strace -f"
alias ..="cd -- .."
alias ...="cd -- ../.."
alias ....="cd -- ../../.."
alias .....="cd -- ../../../.."
alias ......="cd -- ../../../../.."
alias .......="cd -- ../../../../../.."
alias ........="cd -- ../../../../../../.."
alias .........="cd -- ../../../../../../../.."
nvimpager() {
  /usr/bin/nvimpager -p "$@"
}
cd() {
  builtin cd "$@" && ll
}
tobg() {
  ("$@" &) &>/dev/null
}
loop() {
  #TODO: doesn't accept aliases
  while :; do "$@"; sleep 2; done
}
alias open="tobg xdg-open"
u() {
  tobg alacritty --working-directory .
}
alias g="ping 1.1"
alias i="curl ipv4.icanhazip.com"
alias i6="curl ipv6.icanhazip.com"
alias sstp="sudo ss -lnp"
alias tm="tmux -CC attach -d || tmux -CC new"
alias ta="tmux attach -d || tmux new"
alias r='ranger --choosedir=/tmp/.rangerdir; cd $(cat /tmp/.rangerdir)'
alias ssmem='sudo smem -t -a -k -s swap'
alias smem='sudo smem -t -a -k -s rss'
alias timer='echo timer started, use ctrl-c to stop; time cat'
alias dmesg='sudo dmesg -T'
show-iptables() {
  printf 'SECURITY ==============================================================\n'
  sudo iptables-legacy -nvL -t security
  printf '\nRAW ===================================================================\n'
  sudo iptables-legacy -nvL -t raw
  printf '\nMANGLE ================================================================\n'
  sudo iptables-legacy -nvL -t mangle
  printf '\nNAT ===================================================================\n'
  sudo iptables-legacy -nvL -t nat
  printf '\nFILTER ================================================================\n'
  sudo iptables-legacy -nvL -t filter
}
alias zp='zpool status; zpool list'
alias z='zfs list -t all -o name,creation,used,referenced,encryption,readonly,encryption,dedup,mountpoint'
alias sway='sway &> ~/.local/log/sway.log'
alias colorpick='grim -g "$(slurp -p)" -t ppm - | convert - -format "%[pixel:p{0,0}]" txt:-'
alias ex='dtrx --one=inside'
alias drag='dragon-drop -s 300 -i -x'

# Dev
alias make='make -j$(nproc)'
alias py="python"
alias rlwrap="rlwrap -aplaceholder" # https://github.com/technomancy/grenchman/issues/36
alias mit-scheme="rlwrap mit-scheme"
alias sbcl="rlwrap sbcl"
alias yaegi="rlwrap yaegi"
alias gop='cd $GOPATH'
alias gradle="gradle --parallel"
alias be='bundle exec'
alias gem_clean='gem uninstall -aIx'
function sr() {
  sd -s "$1" "$2" $(rg -FUl "$1")
}
function srr() {
  sd -s "$1" "$2" $(rrg -FUl "$1")
}
# Docker
alias dc="docker ps -a --format='table {{.ID}}\t{{.Names}}\t{{.Image}}\t{{.RunningFor}}\t{{.Status}}\t{{.Ports}}'"
alias dsc="docker stop -t 0 \$(docker ps -aq) &>/dev/null"
alias dcc="docker rm -f \$(docker ps -aq) &>/dev/null"
alias di="docker images"
drmia() {
  docker images -a | grep "$1" | tr -s ' ' | cut -d ' ' -f 2 | xargs -I {} docker rmi "$1":{}
}
alias dv='docker ps -a --format "table {{.Names}}\t{{.Mounts}}" --no-trunc'
alias dr="docker restart -t 0"
alias dl="loop docker logs -f --since 3h"
docker_show_layers() {
  docker history "$1" --format '{{.CreatedBy}}' --no-trunc
}
alias dspace="docker system df -v"
alias docker-tui="lazydocker"
alias dah='docker inspect --format="{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}} {{.Name}}" $(docker ps -q) | sd " /" " " | sudo tee -a /etc/hosts'
alias drh='docker inspect --format="{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}} {{.Name}}" $(docker ps -q) | sd " /" " " | sudo xargs -I{} \sed -i "/{}/d" /etc/hosts'
# Or use `x11docker` command
alias x11-docker='docker run -u lyonn -v /tmp/.X11-unix:/tmp/.X11-unix -e DISPLAY=$DISPLAY -v $HOME/.Xauthority:/home/lyonn/.Xauthority -it cenas:1'
# Kubernetes
type kubectl &>/dev/null \
  && alias k=kubectl \
    `#bash should have this var, zsh not really` \
  && [[ -z $HISTFILE ]] \
  && source <(kubectl completion zsh | sd 'kubectl' 'k')
kube-getall() {
  kubectl api-resources --verbs=list -o name | grep -v events \
    | parallel kubectl get -A --ignore-not-found --show-kind
}
kube-getall-ns() {
  echo "Namespace $1 ---------------------------------------------------------"
  for i in $(kubectl api-resources --verbs=list --namespaced -o name | grep -v "events"); do
    echo "Resource: $i"
    kubectl -n "$1" get --ignore-not-found "$i"
  done
}
alias kube-pod-nodes="k get -A --field-selector metadata.namespace!=kube-system pod -o='custom-columns=NODE:.spec.nodeName,NAME:.metadata.name,NAMESPACE:.metadata.namespace,STATUS:.status.phase,REQ:.spec.containers[*].resources.requests'"
alias kube-pod-nodes-system="k get -A pod -o='custom-columns=NODE:.spec.nodeName,NAME:.metadata.name,NAMESPACE:.metadata.namespace,STATUS:.status.phase,REQ:.spec.containers[*].resources.requests'"
# Git
alias gs="git status"
alias gb="git branch -vvaa"
alias gd="git diff --no-color"
alias gds="git diff --no-color --staged"
alias gr="git remote -vvv"
alias grc="git rebase --continue"
alias gcpc="git cherry-pick --continue"
alias ga="git add"
alias gl="PAGER= git lg"
alias gitk="gitk --all &"
alias gg="git gui &"
alias gdm="gd \$(git remote show origin | grep 'HEAD branch' | sd '.*: ' '')..HEAD"
alias glm="gl \$(git remote show origin | grep 'HEAD branch' | sd '.*: ' '')..HEAD"
alias grm="git rebase -i \$(git remote show origin | grep 'HEAD branch' | sd '.*: ' '')"
alias gss="git submodule update --init"
alias git-clean-tags="git tag -l | xargs git tag -d; git fetch --tags"
alias git-mtime="for f in \$(git ls-files); do touch -d \$(git log -1 --format='%aI' \"\$f\") \"\$f\" ; done"
rm_worktree() {
  for b in "$@"; do rm -rf ../"$b"; done
  git worktree prune
  git branch -D "$@"
}
# Power-related
alias susp="systemctl suspend"
alias hib="systemctl hibernate"
alias hyb="systemctl hybrid-sleep"
alias inhib_susp="sudo systemd-inhibit --what=sleep:handle-lid-switch:handle-suspend-key --who=\$USER --why='Suspend deliberately inhibited' sleep 99999d"
bright() {
  until sudo ddcutil setvcp 10 $1 &>/dev/null; do :; done
}
# etc
alias feh="feh --keep-zoom-vp --auto-zoom --scale-down --info 'echo %f && echo [%u/%l] %wx%h %z'"
alias pandoc="pandoc -s"
alias openssl-smtp-starttls="openssl s_client -quiet -starttls smtp -connect" # https://serverfault.com/a/336657
alias clean_vim="git clean -fdx \$HOME/.vim/{undo,swap,backup}; rm -rf \$HOME/.viminfo"
alias pacro="yay -Yc"
alias pacexplicit="comm -23 <(pacman -Qqe | sort) <(pacman -Qqg base-devel | sort)"
alias hddpoff="udisksctl power-off -b"
alias yt-dlp="yt-dlp -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/mp4' --prefer-ffmpeg"
alias ytmp3="yt-dlp -x --audio-format mp3 --audio-quality 320 --prefer-ffmpeg"

