# vim: ft=sh
# General system aliases
alias sudo="sudo " # this enables sudo to use these aliases
alias chown="chown -h"
alias which="which -a"
alias ls='ls -hX --group-directories-first --time-style=+"%d/%m/%Y %H:%M:%S" --color=auto -F --quoting-style=literal'
alias ll='ls -l'
alias la='ls -Al'
alias cal='cal -3'
alias caly='\cal -y'
alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -i --one-file-system"
alias df='df -h'
alias ps='ps auxf'
alias grep="grep --color=auto"
alias egrep="egrep --color=auto"
alias fgrep="fgrep --color=auto"
alias free='free -m'
alias dfc='dfc -d -t -tmpfs,dev -m'
alias telnet="telnet --escape='^E'"
alias telnet-ssl="telnet-ssl -z ssl"
alias du='du -h'
alias sortdu='du -h | sort -h'
alias nmcli='nmcli -a'
which colordiff &>/dev/null && alias diff='colordiff'
alias diff='diff -u'
alias vmstat="vmstat -S m"
alias w="w -i"
alias last="last -w"
alias pinky="pinky -w"
alias htop="htop -d 4"
alias tee="tee -a"
alias nmap="nmap -v"
alias vim="nvim -p"
alias clearvim="rm -rf $HOME/.vim/{undo,swap,backup}/* $HOME/.viminfo"
alias xz="xz -T 0"
alias zstd="zstdmt"
alias lsblk="lsblk -o name,label,size,fstype,fssize,fsavail,mountpoint,uuid"
alias killall="killall -v -I"
alias pgrep="pgrep -l"
alias ..="cd -- .."
alias ...="cd -- ../.."
alias ....="cd -- ../../.."
alias .....="cd -- ../../../.."
alias ......="cd -- ../../../../.."
alias .......="cd -- ../../../../../.."
alias ........="cd -- ../../../../../../.."
alias .........="cd -- ../../../../../../../.."
function cd {
	builtin cd "$@" && ll
}
function u {
	(urxvtc -cd $PWD &>/dev/null &)
}
function tobg {
	($* &>/dev/null &)
}
alias open="xdg-open"
alias o="(thunar &>/dev/null &)"
alias pacro="yay -Yc"
alias pacexplicit="comm -23 <(pacman -Qqe | sort) <(pacman -Qqg base base-devel | sort)"
alias hddpoff="udisksctl power-off -b"
alias g="ping 1.1"
alias i="curl ipv4.icanhazip.com"
alias i6="curl ipv6.icanhazip.com"
alias ethspeed="while :; do sleep 0.2; cat /sys/class/net/enp0s25/speed; done"
alias edit_dns="sudo chattr -i /etc/resolv.conf && sudo vim /etc/resolv.conf && sudo chattr +i /etc/resolv.conf"
alias sstp="sudo ss -antp"
function l {
	# 1st argument: filename to search
	# 2nd argument: match given basename
	basename=""
	[ "$#" -gt 1 ] && basename="$2"
	locate -i -r "$basename.*$1.*"
}
alias tm="tmux -CC attach -d || tmux -CC new"
alias ta="tmux attach -d || tmux new"
alias r='ranger --choosedir=/tmp/.rangerdir; LASTDIR=`cat /tmp/.rangerdir`; cd "$LASTDIR"'
alias m="vim notes.md"
alias t="vim todo.md"
alias ytmp3="youtube-dl -x --audio-format mp3 --audio-quality 320 --prefer-ffmpeg"
alias youtube-dl="youtube-dl -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/mp4'"
alias borg="borg -p"
alias zlist='sudo zfs list -t all -o name,type,mountpoint,creation,readonly,encryption,dedup'

# Dev
alias make="make -j$(nproc)"
alias memcheck="valgrind --tool=memcheck --leak-check=full --show-leak-kinds=all --track-origins=yes"
alias py="python"
alias rlwrap="rlwrap -aplaceholder" # https://github.com/technomancy/grenchman/issues/36
alias irb="rlwrap irb"
#alias node="NODE_NO_READLINE=1 rlwrap node"
alias mit-scheme="rlwrap mit-scheme"
alias sbcl="rlwrap sbcl"
alias yaegi="rlwrap yaegi"
alias gop="cd $GOPATH"
function rg {
	rm -rf $HOME/.gitignore; /usr/bin/rg -S -F --hidden "$@"; echo '*' > $HOME/.gitignore
}
function rrg {
	rm -rf $HOME/.gitignore && /usr/bin/rg -S --hidden "$@" && echo '*' > $HOME/.gitignore
}
alias rt="rg TODO"
function fd {
	rm -rf $HOME/.gitignore; /usr/bin/fd -H "$@"; echo '*' > $HOME/.gitignore
}
# Docker
alias dc="docker container ls -a"
function dcc {
	docker stop $(docker ps -aq)
	docker rm $(docker ps -aq)
}
alias di="docker images"
alias dv='docker ps -a --format "table {{.ID}}\t{{.Names}}\t{{.Mounts}}" --no-trunc'
alias dclean="docker system prune --all --volumes --force"
function docker-show-layers {
	docker history $1 --format '{{.CreatedBy}}' --no-trunc
}
# Kubernetes
alias k=kubectl
function kubectlgetall {
	for ns in $(kubectl get namespaces -o name | cut -d'/' -f2); do
		echo "\n\nNamespace" $ns "---------------------------------------------------------"
		for i in $(kubectl api-resources --verbs=list --namespaced -o name | grep -v "events.events.k8s.io" | grep -v "events" | sort | uniq); do
			echo "Resource:" $i
			kubectl -n ${ns} get --ignore-not-found ${i}
		done
	done
}
# Git
alias gs="git status"
alias gb="git branch -vvaa"
alias gd="PAGER=vimpager git diff"
alias gdc="PAGER=vimpager git diff --cached"
alias gf="git fetch --all"
alias gp="git pull"
alias gr="git remote -vvv"
alias grc="git rebase --continue"
alias grm="git stash && git rebase -i master"
alias ga="git add"
alias gitk="gitk --all &"
alias gg="git gui"
alias gl="PAGER= git lg"
alias gss="git submodule update --init --recursive"
alias gsu="git submodule foreach 'git checkout master && git pull'"
function rm-worktree {
	for b in "$@"; do rm -rf ../"$b"; done
	git worktree prune
	git branch -D $@
}

# Connections
alias p="ssh pineman@pineman.eu"
alias c="[[ -d /p ]] && sshfs pineman.eu: /p; cd /p/Documents/computer || cd ~/Documents/computer"
alias h="sshfs pineman.eu: /p; cd /p"
alias uh="umount /p"
alias cl="cd ~/code/learn"
alias sshtunnel="echo 'SOCKS5 proxy running on 127.0.0.1:1337 through encrypted ssh tunnel'; ssh -T -N pineman@pineman.eu -D 1337"
alias transtunnel="echo 'Remote Transmission running on http://127.0.0.1:9091 through encrypted ssh tunnel'; ssh -L 9091:localhost:9091 -N -T pineman.eu"
# Music
alias mu="mpc volume 0"
alias mun="mpc volume 70"
alias n="ncmpcpp"
function addradio {
	mpc add "http://centova.radios.pt:9496/stream?1554293061823"
	mpc add "https://lainon.life/radio/cafe.ogg"
	mpc add "https://lainon.life/radio/cyberia.ogg"
	mpc add "https://lainon.life/radio/everything.ogg"
	mpc add "https://lainon.life/radio/swing.ogg"
	mpc add "http://cyberadio.pw:8000/stream"
	mpc add "http://streaming.radionomy.com/DRIVE"
	mpc add "http://radio.2f30.org:8000/live.mp3"
	mpc add "http://ice2.somafm.com/defcon-64-aac"
	mpc add "http://nectarine.ers35.net:8000/necta192.mp3"
	mpc add "http://stream.cdm-smoothsax.com:8024/stream-mp3-Smooth"
	mpc add "http://stream.cdm-chillout.com:8012/stream-mp3-Deep"
	mpc add "http://stream.trap.fm:6002"
	mpc add "http://trace.dnbradio.com:8000/dnbradio_main.mp3"
	mpc add "http://trace.dnbradio.com:8000/dnbradio_darkstep.mp3"
	mpc add "http://stream.drumandbass.fm:9002"
}

# Power-related
alias lock="physlock"
alias slock="systemctl suspend && physlock -d"
alias soff="xset dpms force off"
alias susp="systemctl suspend"
alias hib="systemctl hibernate"
alias hyb="systemctl hybrid-sleep"
alias inhib_susp="setsid systemd-inhibit --what=sleep --who='\$USER' --why='Suspend deliberately inhibited by user.' sleep 99999d"
alias enable_susp="pkill systemd-inhibit sleep"

# etc
alias mupdf="mupdf -r 144"
alias feh="feh --keep-zoom-vp --auto-zoom --scale-down --info 'echo %f && echo [%u/%l] %wx%h %z'"
alias inxi="inxi -F"
alias units="units --verbose"
alias nload="nload -u M"
alias pandoc="pandoc -s"
function oct {
	tobg octave --gui --persist --eval "edit $1"
}
alias mcli="matlab -nodisplay -nosplash -nojvm"
alias openssl-smtp-starttls="openssl s_client -quiet -starttls smtp -connect" # https://serverfault.com/a/336657
alias xev="xev | grep -A2 --line-buffered '^KeyRelease' | sed -n '/keycode /s/^.*keycode \([0-9]*\).* (.*, \(.*\)).*$/\1 \2/p'"
# TTY-things
#alias startx="killall redshift &>/dev/null; \startx ~/.xinitrc; (killall redshift &>/dev/null; redshift -m drm &>/dev/null &)"
alias startx="killall redshift &>/dev/null; sudo systemctl start lightdm; (killall redshift &>/dev/null; redshift -m drm &>/dev/null &)"
# Use VLC in a virtual console
alias vlctty="cvlc -I ncurses -V fb"
alias vlcascii="cvlc -I ncurses -V caca"
# Display images in a TTY
alias fbi="fbi --autodown"

# ex - archive extractor
# usage: ex <file>
function ex ()
{
	if [[ ! -f "$1" ]]; then
		echo "No such file or directoy: '$1'"
		return 2
	fi
	case $1 in
		#*.tar)		mkdir -p ${1%.tar.xz}	&& cd $_ && tar -xvf ../$1 ;;
		#*.tar.xz)	mkdir -p ${1%.tar.xz}	&& cd $_ && tar -xvJf ../$1 ;;
		#*.txz)		mkdir -p ${1%.txz}		&& cd $_ && tar -xvJf ../$1 ;;
		#*.tar.pixz)	mkdir -p ${1%.tar.pixz}	&& cd $_ && tar -Ipixz -xvf ../$1 ;;
		#*.tpxz)		mkdir -p ${1%.tpxz}		&& cd $_ && tar -Ipixz -xvf ../$1 ;;
		#*.tar.bz2)	mkdir -p ${1%.tar.bz2}	&& cd $_ && tar -xvjf ../$1 ;;
		#*.tbz2)		mkdir -p ${1%.tbz2}		&& cd $_ && tar -xvjf ../$1 ;;
		#*.tar.gz)	mkdir -p ${1%.tar.gz}	&& cd $_ && tar -xvzf ../$1 ;;
		#*.tgz)		mkdir -p ${1%.tgz}		&& cd $_ && tar -xvzf ../$1 ;;
		#*.rar)		mkdir -p ${1%.rar}		&& cd $_ && unrar -x ../$1 ;;
		#*.zip)		mkdir -p ${1%.zip}		&& cd $_ && unzip ../$1 ;;
		#*.7z)		mkdir -p ${1%.7z}		&& cd $_ && 7z -x ../$1 ;;

		*.tar)		tar -xvf $1 ;;
		*.tar.xz)	tar -xvJf $1 ;;
		*.txz)		tar -xvJf $1 ;;
		*.tar.pixz)	tar -Ipixz -xvf $1 ;;
		*.tpxz)		tar -Ipixz -xvf $1 ;;
		*.tar.bz2)	tar -xvjf $1 ;;
		*.tbz2)		tar -xvjf $1 ;;
		*.tar.gz)	tar -xvzf $1 ;;
		*.tgz)		tar -xvzf $1 ;;
		*.rar)		unrar -x $1 ;;
		*.zip)		unzip $1 ;;
		*.7z)		7z x $1 ;;

		*.xz)		xz -d $1 ;;
		*.pixz)		pixz -d $1 ;;
		*.gz)		gunzip $1 ;;
		*.bz2)		bunzip2 $1 ;;
		*.Z)		uncompress -xf $1 ;;

		*)			echo "'$1' cannot be extracted via ex" ;;
	esac
}

# Fun stuff
alias randomfact='wget randomfunfacts.com -qO- 2>/dev/null | grep \<strong\> | sed "s;^.*<i>\(.*\)</i>.*$;\1;"'
alias cmdusage="history | awk '{CMD[\$2]++;count++;}END { for (a in CMD)print CMD[a] \" \" CMD[a]/count*100 \"% \" a;}' | grep -v \"./\" | column -c3 -s \" \" -t | sort -nr | nl |  head -n15"
alias cmatrix="cmatrix -u 7"
alias matrix='echo -e "\e[32m"; while :; do for i in {1..16}; do r="$(($RANDOM % 2))"; if [[ $(($RANDOM % 5)) == 1 ]]; then if [[ $(($RANDOM % 4)) == 1 ]]; then v+="\e[1m $r	"; else v+="\e[2m $r   "; fi; else v+="		"; fi; done; echo -e "$v"; v=""; done'
alias matrix2='echo -e "\e[31m"; while $t; do for i in `seq 1 30`;do r="$[($RANDOM % 2)]";h="$[($RANDOM % 4)]";if [ $h -eq 1 ]; then v="\e[1m $r";else v="\e[2m $r";fi;v2="$v2 $v";done;echo -e $v2;v2="";done;'
alias matrix3='COL=$(( $(tput cols) / 2 )); clear; tput setaf 2; while :; do tput cup $((RANDOM%COL)) $((RANDOM%COL)); printf "%$((RANDOM%COL))s" $((RANDOM%2)); done'
alias matrix4='echo -ne "\e[32m" ; while true ; do echo -ne "\e[$(($RANDOM % 2 + 1))m" ; tr -c "[:print:]" " " < /dev/urandom | dd count=1 bs=50 2> /dev/null ; done'
alias matrix5='tr -c "[:digit:]" " " < /dev/urandom | dd cbs=$COLUMNS conv=lcase,unblock | GREP_COLOR="1;32" grep --color "[^ ]"'
alias colorrainbow='seq 0 255 | while read i; do printf "${i-1}: \x1b[48;5;${i}m\n"; sleep .01; done'
alias screenfetch="echo; screenfetch -c 41,12"
function minor()
{
	cat /dev/urandom | hexdump -v -e '/1 "%u\n"' | awk '{ split("0,2,3,5,7,8,10,12",a,","); for (i = 0; i < 1; i+= 0.00001) printf("%08X\n", 100*sin(1382*exp((a[$1 % 8]/12)*log(2))*i)) }' | xxd -r -p | aplay -c 2 -f S32_LE -r 16000
}
function major()
{
	cat /dev/urandom | hexdump -v -e '/1 "%u\n"' | awk '{ split("0,2,4,5,7,9,11,12",a,","); for (i = 0; i < 1; i+= 0.00001) printf("%08X\n", 100*sin(1382*exp((a[$1 % 8]/12)*log(2))*i)) }' | xxd -r -p | aplay -c 2 -f S32_LE -r 16000
}

