[user]
	name = João Pinheiro
	email = joao.castropinheiro@gmail.com
	signingKey = CE2609DCF2E675F825AF4956CA439ECD5D4F3704
[push]
	default = tracking
[pull]
	default = tracking
	rebase = true
[merge]
	tool = vimdiff
[diff]
	color = false
[status]
	showUntrackedFiles = no
	showStash = true
[fetch]
	prune = true
[pager]
	branch = false
[commit]
	#gpgsign = true
[alias]
	lg = log --color --graph --pretty=format:'%h (%Cgreen%cd%Creset) %s %C(6)%an <%ae>%Creset %C(blue)%d%Creset' --abbrev-commit --date=format:'%x %X'
	lf = log -p --follow
	rlog = reflog --pretty=short --date=iso
	filehist = log -p --follow
	pushf = push --force-with-lease
	pusha = push --force-with-lease --tags --prune
	co = checkout
	stash-show = stash show -p
	fetcha = fetch --all --tags --force --prune --prune-tags
	cl = clone --recurse-submodules
	dcf = diff --name-status master
[tag]
	forceSignAnnotated = true
[gui]
	tabsize = 4
	warndetachedcommit = true
	displayuntracked = false
[cola]
	spellcheck = false
[rebase]
	autoStash = true
[init]
	defaultBranch = main
