[user]
	name = João Pinheiro
	email = joao.castropinheiro@gmail.com
	signingKey = 91ADD829DF348AF5E044F4B9FC58442053D6479A
[push]
	default = tracking
	autoSetupRemote = true
[pull]
	default = tracking
	rebase = true
[merge]
	tool = vimdiff
[status]
	showUntrackedFiles = all
	showStash = true
[fetch]
	prune = true
[commit]
	gpgsign = false
[pager]
	branch = false
	diff = delta
	log = delta
	reflog = delta
	show = delta
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
	singleKey = true
	# git add -p is cool but I think I'll keep using git gui
[delta]
	navigate = true
	navigate-regex = "Δ|removed:|renamed:|added:"
	line-numbers = true
	#syntax-theme = "base16"
[diff]
	colorMoved = default
[alias]
	lg = log --color --graph --pretty=format:'%h (%Cgreen%cd%Creset) %s %C(6)%an <%ae>%Creset %C(blue)%d%Creset' --abbrev-commit --date=format:'%d/%m/%Y %H:%M:%S'
	lga = lg --all
	lf = log -p --follow
	rlog = reflog --pretty=short --date=iso
	filehist = log -p --follow
	pushf = push --force-with-lease
	pushff = push --force
	pusht = push --tags --prune
	stash-show = stash show -p
	fetcha = fetch --all --tags --force --prune --prune-tags
	pulla = pull --all --tags --force --prune
	cl = clone --recurse-submodules
	g = gc --prune=now --aggressive
	rs = reset HEAD
	co = checkout
[tag]
	forceSignAnnotated = true
[gui]
	tabsize = 4
	warndetachedcommit = true
	displayuntracked = false
[rebase]
	autoStash = true
	updateRefs = true # https://andrewlock.net/working-with-stacked-branches-in-git-is-easier-with-update-refs/
[init]
	defaultBranch = main
[credential]
	helper = store
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[advice]
	skippedCherryPicks = false
[blame]
	#ignoreRevsFile = .git-blame-ignore-revs
