[user]
	name = João Pinheiro
	email = joao.castropinheiro@gmail.com
	signingKey = 91ADD829DF348AF5E044F4B9FC58442053D6479A
[push]
	default = tracking
	autoSetupRemote = true
[pull]
	default = tracking
	rebase = true
[merge]
	tool = vimdiff
	#conflictStyle = zdiff3
[diff]
	color = false
[status]
	showUntrackedFiles = all
	showStash = true
[fetch]
	prune = true
[pager]
	branch = false
    diff = delta
    log = delta
    reflog = delta
    show = delta
[commit]
	gpgsign = true
[alias]
	lg = log --color --graph --pretty=format:'%h (%Cgreen%cd%Creset) %s %C(6)%an <%ae>%Creset %C(blue)%d%Creset' --abbrev-commit --date=format:'%d/%m/%Y %H:%M:%S'
	lga = lg --all
	lf = log -p --follow
	rlog = reflog --pretty=short --date=iso
	filehist = log -p --follow
	pushf = push --force-with-lease
	pushff = push --force
	pusht = push --tags --prune
	co = checkout
	stash-show = stash show -p
	fetcha = fetch --all --tags --force --prune --prune-tags
    pulla = pull --all --tags --force --prune
	cl = clone --recurse-submodules
	dcf = diff --name-status master
[tag]
	forceSignAnnotated = true
[gui]
	tabsize = 4
	warndetachedcommit = true
	displayuntracked = false
[cola]
	spellcheck = false
[rebase]
	autoStash = true
[init]
	defaultBranch = main
[credential]
	helper = store
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
