set hlsearch
set ignorecase smartcase
set clipboard=unnamedplus
set clipboard+=ideaput
set ideajoin
set visualbell
set noerrorbells
set scrolloff=3
set commentary

vnoremap // y/<C-R>"<CR>
nnoremap <esc><esc> :w<cr> :noh <cr>
nnoremap U J
nnoremap J <C-f>
nnoremap K <C-b>
nnoremap mm zz
nnoremap <S-r> <C-r>
" * highlight matches, but don't actually move
map * *N
" gd go to definition, gh go back, gl go fwd
nnoremap gh :action Back<CR>
nnoremap gl :action Forward<CR>
" keep last explicit yy on gp
nnoremap gp "0p
" zj to toggle fold at cursor. zo to open all folds
nnoremap zj za
nnoremap zo zR

"map % :action EditorMatchBrace<CR> " TODO: breaks visual selection :( Use normal ^M

" Other keybinds:
" prev tab, next tab, close tab: on idea settings C-h, C-l, C-j
" shift-f12 close all tool windows (restore default layout)
" f12: focus last tool window. esc: focus editor
" opt-click: multiple cursors
" Cmt-t: go to symbol (custom keybind)
" cmd-opt-[ or ]: move caret to block start or end
" opt-up: Extend Selection
" opt-c: Copy path to current file: opt-c
" C-w l, C-w h to move between splits works, also mapped C-S-l and C-S-h
" F7, S-F7: go to next/prev git change
" F4, S-F4: go to next/prev bookmark'
" C-S-up/down prev/next method
