" disable italics: sed -i '/<option name="FONT_TYPE".*/d' ~/.config/JetBrains/IntelliJIdea2021.1/jba_config/colors/*
set ignorecase smartcase
set hlsearch
set noincsearch
vnoremap // y/<C-R>"<CR>
nnoremap <esc><esc> :w<cr> :noh <cr>
set clipboard=unnamedplus
