! Solarized color scheme for the X Window System
! http://ethanschoonover.com/solarized
! Common
!#define S_base02		#073642
!#define S_red			#dc322f
!#define S_green			#859900
!#define S_yellow		#b58900
!#define S_blue			#268bd2
!#define S_magenta		#d33682
!#define S_cyan			#2aa198
!#define S_base2			#eee8d5
!#define S_base03		#002b36
!#define S_orange		#cb4b16
!#define S_base01		#586e75
!#define S_base00		#657b83
!#define S_base0			#839496
!#define S_violet		#6c71c4
!#define S_base1			#93a1a1
!#define S_base3			#fdf6e3
!URxvt*background:				S_base03
!URxvt*foreground:				S_base0
!URxvt*cursorColor:				S_base1
!URxvt*pointerColorBackground:	S_base01
!URxvt*pointerColorForeground:	S_base1
! Oceanic Next https://github.com/mhartington/oceanic-next
#define S_base02		#343d46
#define S_red			#EC5f67
#define S_green			#99C794
#define S_yellow		#FAC863
#define S_blue			#6699cc
#define S_magenta		#c594c5
#define S_cyan			#5fb3b3
#define S_base2			#d8dee9
#define S_base03		#343d46
#define S_orange		#EC5f67
#define S_base01		#99C794
#define S_base00		#FAC863
#define S_base0			#6699cc
#define S_violet		#c594c5
#define S_base1			#5fb3b3
#define S_base3			#d8dee9
URxvt*background:				#1b2b34
URxvt*foreground:				#d8dee9
URxvt*cursorColor:				#ffffff
!URxvt*.color0:					S_base02
URxvt*.color0:					#1b2b34
URxvt*.color1:					S_red
URxvt*.color2:					S_green
URxvt*.color3:					S_yellow
URxvt*.color4:					S_blue
URxvt*.color5:					S_magenta
URxvt*.color6:					S_cyan
URxvt*.color7:					S_base2
URxvt*.color8:					S_base03
URxvt*.color9:					S_orange
URxvt*.color10:					S_base01
URxvt*.color11:					S_base00
URxvt*.color12:					S_base0
URxvt*.color13:					S_violet
URxvt*.color14:					S_base1
URxvt*.color15:					S_base3
URxvt*font: xft:monospace:size=12, xft:Droid Sans Fallback:size=12, xft:Icons, xft:Noto Color Emoji
!URxvt*font: -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1, -*-unifont-medium-*-*-*-16-*-*-*-*-*-*-*
URxvt*boldFont: xft:monospace:size=12:style=bold
URxvt*italicFont:
URxvt*boldItalicFont:
URxvt*skipBuiltinGlyphs: false
URxvt*letterSpace: 0
URxvt*lineSpace: -1
URxvt*scrollBar: False
URxvt*scrollTtyOutput: False
URxvt*scrollWithBuffer: True
URxvt*scrollTtyKeypress: True
URxvt*saveLines: 65535
URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*geometry: 118x32
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,resize-font
URxvt.url-select.launcher: chromium
URxvt.url-select.underline: true
URxvt.keysym.M-C-o: perl:url-select:select_next
URxvt.keysym.M-C-c: perl:clipboard:copy
URxvt.keysym.M-C-v: perl:clipboard:paste
URxvt.keysym.M-C-f: perl:keyboard-select:search

!UXTerm*font: -*-misc-fixed-*-*-*-14-*-*-*-*-*-*-*
UXTerm*font: -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
UXTerm*allowBoldFonts: false
UXTerm*background: black
UXTerm*foreground: white
Xcursor.size: 16

Xft.dpi: 96
!Xft.dpi: 192
