/* 3bar default look clone */
window#waybar {
  background: black;
}
button:hover {
  background: inherit;
  border: 1px solid black;
  box-shadow: inherit;
  text-shadow: inherit;
  transition: none;
}

#workspaces button {
  padding: 0 2px;
  color: #8f8f8f;
  background-color: #222222;
  border: 1px solid #2e2e2e;
  border-radius: 0;
  transition: none;
}

#workspaces button.focused {
  color: white;
  background: #285577;
  border: 1px solid #3c83ba;
}
#workspaces button.urgent {
  color: white;
  background: #900000;
  border: 1px solid #902828;
}

#mode {
  background: #900000;
  padding: 0 5px;
  color: white;
  border-radius: 0;
}

#tray, #idle_inhibitor, #network, #bluetooth, #pulseaudio, #battery, #disk, #memory, #cpu, #temperature, #clock {
  border-right: 1px solid #575757;
  border-radius: 0;
  padding: 0;
  padding-right: 5px;
  color: white;
}
#network.ethernet, #network.wifi {
  color: #31AB00;
}
#network.linked {
  color: #C4A000;
}
#network.disconnected, #network.disabled {
  color: #FF2026;
}
#bluetooth.connected {
  color: #31AB00;
}
#bluetooth.on {
  color: #C4A000;
}
#bluetooth.disabled, #bluetooth.off {
  color: #FF2026;
}
#clock.time {
  border: none;
}
