/* 3bar default look clone */
window#waybar {
  background-color: black;
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#workspaces button {
  padding: 0 2px;
  color: #8f8f8f;
  background-color: #222222;
  border: 1px solid #2e2e2e;
  border-radius: 0;
  transition: none;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: #222222;
  border: 1px solid #2e2e2e;
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button.focused {
  color: #ffffff;
  background: #285577;
  border: 1px solid #3c83ba;
}
#workspaces button.urgent {
  background-color: #900000;
}

#mode {
  background-color: #900000;
  padding: 0 5px;
}

#tray, #idle_inhibitor, #network, #bluetooth, #pulseaudio, #battery, #disk, #memory, #cpu, #temperature, #clock.date {
  border-right: 1px solid #575757;
  padding-right: 5px;
}
#network.ethernet, #network.wifi {
  color: #31AB00;
}
#network.linked {
  color: #C4A000;
}
#network.disconnected, #network.disabled {
  color: #FF2026;
}
#clock.time {
  padding-right: 5px;
}
